In [1]:
import pandas as pd
import numpy as np
import warnings
import time
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings('ignore')

### Functions

In [2]:
def get_min(x,xx):
    df22 = x[x.Month == xx]
    ff = df22.loc[df22['Return_Value'].idxmin()]
    print('Start Date:', ff[0])
    print('End Date:', ff[2])
    print('Return:',ff[4])
    
def get_max(x,xx):
    df22 = x[x.Month == xx]
    ff = df22.loc[df22['Return_Value'].idxmax()]
    print('Start Date:', ff[0])
    print('End Date:', ff[2])
    print('Return:',ff[4])
    
def top_return(x,xx,y):
    df44 = x[x['Month'] == xx]
    top = df44.nlargest(y, 'Return_Value')
    top2 = top[['Start_date', 'Date', 'Return_Value']]
    top2.rename({'Date':'End_date'}, inplace = True, axis = 1)
    print(top2.to_string(index=False))
    
def bottom_return(x,xx,y):
    df44 = x[x['Month'] == xx]
    top = df44.nsmallest(y, 'Return_Value')
    top2 = top[['Start_date', 'Date', 'Return_Value']]
    top2.rename({'Date':'End_date'}, inplace = True, axis = 1)
    print(top2.to_string(index=False))

### Load Index Data

In [3]:
df = pd.read_csv('data_for_test.csv')
df.drop('Unnamed: 0', inplace = True, axis = 1)
df['Date'] = pd.to_datetime(df['Date'], format="%m/%d/%y")
df.head(2)

,Date,SP_price,S&P,HS_price,HS,Gold_price,Gold,FTSE_price,FTSE,DJ_price,DJ,AGG_price,AGG,diff_10_2,CPI_PCH
0,1983-12-30,164.93,NaN,874.94,NaN,382.40,NaN,1000.0,NaN,1258.64,NaN,193.04,NaN,1.03,0.006903
1,1984-01-31,163.41,-0.009216,1102.38,0.259949,373.75,-0.02262,1063.0,0.063,1220.58,-0.030239,197.02,0.020617,1.05,0.004897

### Load Allication data

In [4]:
df2 = pd.read_csv('index_al.csv').set_index('Index')
df2.head(2)

,1,2,3,4,5,6,7,8,9,10,...,111,112,113,114,115,116,117,118,119,120
Index,,,,,,,,,,,,,,,,,,,,,
SP,0.175,0.1744,0.1738,0.1733,0.1727,0.1721,0.1715,0.1709,0.1703,0.1698,...,0.1067,0.106,0.1053,0.1047,0.104,0.1033,0.1027,0.102,0.1013,0.1007
DJ,0.175,0.1744,0.1738,0.1733,0.1727,0.1721,0.1715,0.1709,0.1703,0.1698,...,0.1067,0.106,0.1053,0.1047,0.104,0.1033,0.1027,0.102,0.1013,0.1007

In [5]:
ch = df[['Date', 'S&P', 'HS','Gold', 'FTSE', 'DJ', 'AGG', 'CPI_PCH']]
ch.tail()

,Date,S&P,HS,Gold,FTSE,DJ,AGG,CPI_PCH
424,2019-04-30,0.039313,0.022297,-0.010113,0.019100,0.025618,0.000256,0.000773
425,2019-05-31,-0.065778,-0.094212,0.010333,-0.034578,-0.066855,0.017752,0.000588
426,2019-06-28,0.068930,0.061021,0.087569,0.036852,0.071929,0.012556,0.003353
427,2019-07-31,0.013128,-0.026797,0.013165,0.021702,0.009936,0.002201,0.000543
428,2019-08-30,-0.018092,-0.073909,0.070646,-0.050034,-0.017160,0.025913,0.000226

### 120 Months 60-70

In [6]:
data = pd.DataFrame([], columns = ['Start_date','Month', 'Date', 'Start_Value', 'Return_Value'])
dd_list = ch.Date.tolist()
for i in dd_list:
    if i > pd.to_datetime('2009-08-31'):
        break
    sv = 100000.00
    dd = ch[ch.Date >= i].reset_index().drop('index', axis = 1)
    sd = dd.iloc[0][0]
    print(sd.date())
    for i in range(1,121):
        col = i - 1
        sp_value = round(sv * df2.iloc[0,col],2)
        dj_value = round(sv * df2.iloc[1,col],2)
        hs_value = round(sv * df2.iloc[2,col],2)
        ft_value = round(sv * df2.iloc[3,col],2)
        agg_value = round(sv * df2.iloc[4,col],2)
        gold_value = round(sv * df2.iloc[5,col],2)

        sv2 = sv
        dt = dd.iloc[i][0]
        sp500 = dd.iloc[i][1]
        hs = dd.iloc[i][2]
        gold = dd.iloc[i][3]
        ft = dd.iloc[i][4]
        dj = dd.iloc[i][5]
        agg = dd.iloc[i][6]

        sp500_cash = round(sp_value * (1 + sp500) ,2)

        hs_cash = round(hs_value * (1 + hs) ,2)

        gold_cash = round(gold_value * (1 + gold) ,2)

        ft_cash = round(ft_value * (1 + ft) ,2)

        dj_cash = round(dj_value * (1 + dj) ,2)

        agg_cash = round(agg_value * (1 + agg) ,2)

        sv = round(sum([agg_cash, dj_cash, ft_cash, gold_cash, hs_cash, sp500_cash]),2)
        mm = 'Month ' + str(i)
        data = data.append({'Start_date':sd,'Month':mm, 'Date': dt, 'Start_Value':sv2, 'Return_Value': sv },ignore_index = True)

1983-12-30
1984-01-31
1984-02-29
1984-03-30
1984-04-30
1984-05-31
1984-06-29
1984-07-31
1984-08-31
1984-09-28
1984-10-31
1984-11-30
1984-12-31
1985-01-31
1985-02-28
1985-03-29
1985-04-30
1985-05-31
1985-06-28
1985-07-31
1985-08-30
1985-09-30
1985-10-31
1985-11-29
1985-12-31
1986-01-31
1986-02-28
1986-03-31
1986-04-30
1986-05-30
1986-06-30
1986-07-31
1986-08-29
1986-09-30
1986-10-31
1986-11-28
1986-12-31

KeyboardInterrupt:

In [ ]:
data

In [ ]:
data.to_csv('benchmark_120months.csv')

In [ ]:
### Mean Return
print('Mean Return 120 Month:', round(data[data['Month'] == 'Month 120']['Return_Value'].mean(),2))

In [ ]:
### Min Return
get_min(data, 'Month 120')

In [ ]:
### Max Return
get_max(data, 'Month 120')

In [ ]:
### Top 10
top_return(data, 'Month 120', 10)

In [ ]:
### Bottom 10
bottom_return(data, 'Month 120', 10)

### 60 months 60 - 65

In [ ]:
data2 = pd.DataFrame([], columns = ['Start_date','Month', 'Date', 'Start_Value', 'Return_Value'])
dd_list = ch.Date.tolist()
for i in dd_list:
    if i > pd.to_datetime('2014-08-31'):
        break
    sv = 100000.00
    dd = ch[ch.Date >= i].reset_index().drop('index', axis = 1)
    sd = dd.iloc[0][0]
    print(sd.date())
    for i in range(1,61):
        col = i - 1
        sp_value = round(sv * df2.iloc[0,col],2)
        dj_value = round(sv * df2.iloc[1,col],2)
        hs_value = round(sv * df2.iloc[2,col],2)
        ft_value = round(sv * df2.iloc[3,col],2)
        agg_value = round(sv * df2.iloc[4,col],2)
        gold_value = round(sv * df2.iloc[5,col],2)

        sv2 = sv
        dt = dd.iloc[i][0]
        sp500 = dd.iloc[i][1]
        hs = dd.iloc[i][2]
        gold = dd.iloc[i][3]
        ft = dd.iloc[i][4]
        dj = dd.iloc[i][5]
        agg = dd.iloc[i][6]

        sp500_cash = round(sp_value * (1 + sp500) ,2)

        hs_cash = round(hs_value * (1 + hs) ,2)

        gold_cash = round(gold_value * (1 + gold) ,2)

        ft_cash = round(ft_value * (1 + ft) ,2)

        dj_cash = round(dj_value * (1 + dj) ,2)

        agg_cash = round(agg_value * (1 + agg) ,2)

        sv = round(sum([agg_cash, dj_cash, ft_cash, gold_cash, hs_cash, sp500_cash]),2)
        mm = 'Month ' + str(i)
        data2 = data2.append({'Start_date':sd,'Month':mm, 'Date': dt, 'Start_Value':sv2, 'Return_Value': sv },ignore_index = True)

In [ ]:
data2

In [ ]:
data2.to_csv('benchmark60_65_60months.csv')

In [ ]:
### Mean Return 
print('Mean Return 60-65:' , round(data2[data2.Month == 'Month 60']['Return_Value'].mean(),2))

In [ ]:
### Min Return
get_min(data2, 'Month 60')

In [ ]:
#### Max Return 
get_max(data2, 'Month 60')

In [ ]:
### Top 10
top_return(data2, 'Month 60', 10)

In [ ]:
### Bottom 10
bottom_return(data2, 'Month 60', 10)

### 60 Months 65 - 70

In [ ]:
data3 = pd.DataFrame([], columns = ['Start_date','Month', 'Date', 'Start_Value', 'Return_Value'])
dd_list = ch.Date.tolist()
for i in dd_list:
    if i > pd.to_datetime('2014-08-31'):
        break
    sv = 100000.00
    dd = ch[ch.Date >= i].reset_index().drop('index', axis = 1)
    sd = dd.iloc[0][0]
    print(sd.date())
    for i in range(1,61):
        col = i + 59
        sp_value = round(sv * df2.iloc[0,col],2)
        dj_value = round(sv * df2.iloc[1,col],2)
        hs_value = round(sv * df2.iloc[2,col],2)
        ft_value = round(sv * df2.iloc[3,col],2)
        agg_value = round(sv * df2.iloc[4,col],2)
        gold_value = round(sv * df2.iloc[5,col],2)

        sv2 = sv
        dt = dd.iloc[i][0]
        sp500 = dd.iloc[i][1]
        hs = dd.iloc[i][2]
        gold = dd.iloc[i][3]
        ft = dd.iloc[i][4]
        dj = dd.iloc[i][5]
        agg = dd.iloc[i][6]

        sp500_cash = round(sp_value * (1 + sp500) ,2)

        hs_cash = round(hs_value * (1 + hs) ,2)

        gold_cash = round(gold_value * (1 + gold) ,2)

        ft_cash = round(ft_value * (1 + ft) ,2)

        dj_cash = round(dj_value * (1 + dj) ,2)

        agg_cash = round(agg_value * (1 + agg) ,2)

        sv = round(sum([agg_cash, dj_cash, ft_cash, gold_cash, hs_cash, sp500_cash]),2)
        mm = 'Month ' + str(i)
        data3 = data3.append({'Start_date':sd,'Month':mm, 'Date': dt, 'Start_Value':sv2, 'Return_Value': sv },ignore_index = True)

In [ ]:
data3

In [ ]:
data3.to_csv('benchmark65_70_60months.csv')

In [ ]:
### Mean Return
print('Mean Return 65-70:' , round(data3[data3.Month == 'Month 60']['Return_Value'].mean(),2))

In [ ]:
### Min Return
get_min(data3, 'Month 60')

In [ ]:
### Max Return
get_max(data3, 'Month 60')

In [ ]:
### Top 10
top_return(data3, 'Month 60', 10)

In [ ]:
### Bottom 10
bottom_return(data3, 'Month 60', 10)